body {
  background-color: #f8f9fa;
}

.custom-navbar {
  background-color: #1e3a8a;
}

.hero-section {
  background: white;
  padding: 60px 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.product-image {
  height: 220px;
  object-fit: cover;
}

footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  background-color: #1e3a8a;
  color: white;
}

.card-body {
  text-align: center;
}

#carouselTravelInformation {
  width: 700px; /* change size */
  margin: auto; /* center */
}

#carousel-caption {
  text-align: center;
  font-size: medium;
}

/* booking css */

.sticky-summary {
  position: sticky;
  top: 100px;
}

@media (max-width: 991px) {
  .sticky-summary {
    position: static;
    margin-top: 1.5rem;
  }
}

.booking-summary .summary-section p {
  margin-bottom: 0.25rem;
}

/* Flight results */

.flight-card {
  transition: 0.3s;
  cursor: pointer;
}

.flight-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.airline-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.sidebar {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}
